/*  your css code here. If applicable */
#table-1{
	border:1px solid black;
	borderspacing:1px;
	cellpadding:1px;
	background-color:green;
}
#t12{
	colspan:1;
	rowspan:4;
}
#t21{
	align:center;
}
#t-image{
	
}
